<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
<title>{{ escape(title) }}</title>
<link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ static_url("css/style.css") }}" type="text/css"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
{% block head %}{% end %}
</head>

<body id="body">
    <div id="head">
        {% block header %}{% end %}
    </div>
    <div id="main">
        <div id="wrapper">
            {% block main %}{% end %}
        </div>
    </div>
    <div id="foot">
        {% block footer %}{% end %}
    </div>
</body>

</html>
